
.Model, .Uploadselfie, .App, .List, .Options, .Show, .Uploadkyc, .Header, .EditAPI, .EditList{
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.page-title
{
  margin: 1em 0em;
}

.header, .inner-header
{
  padding: 20px 0px;
  background: #a24097;
  margin-bottom: 1em;
}

.header h2, .inner-header h2
{
    font-size: 22px;
    color:#fff;
    font-weight: 500;
    text-transform: uppercase;
}

button a
{
  color: #fff;
}

button a:hover
{
  color: #fff;
  text-decoration: none;
}

#createlist
{
  margin: 0.5em 0em;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.intro
{
  margin: 4em 0em;
}

.home-para
{
  margin: 2em 0em;
}

.home-para a
{
  color: #007bff;
  text-decoration:underline;
}

.refresh-btn
{
  margin: 2em 0em;
}

.select-options
{
  margin: 2em 0em;
}


.select-list
{
  margin: 1em 0em;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.select-list p a
{
   font-size: 16px;
   color: #353333;
}

.select-list p a:hover
{
   font-size: 16px;
   color: #353333;
   text-decoration: none;
}

h5.qn-title {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    font-size: 1.2rem;
    text-transform: uppercase;
}

#display-error
{
  display: none;
}

/*video, canvas 
{
    transform: rotateY(180deg);
}*/

.sparshik-demo-pre {
  /*  height: 330px;
    overflow-y: scroll;*/
    text-align: left;
    font-size: 0.8em;
    line-height: 20px;
}

.edit-tab
{
      float: right;
    margin: -1.8em 3em 0em;
    color: #fff;
}

.edit-tab-list
{
    border: 1px solid;
    padding: 5px 10px;
    margin: 0em 0.5em;
}

.edit-tab a
{
  color: #fff;
}

.edit-tab a:hover
{
  color: #fff;
  text-decoration: none;
}


.form-control
{
  margin: 5px 0px;
}


#responsetab
{
  margin: 1.5em 0em;
}

.r-col
{
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.try-tab
{
 padding: 10px 22px 13px;
 background: #6c757d;
 margin: 1em 0em;
  border-radius: 3px;
}

.try-tab a
{
  color: #fff;
}

.try-tab a:hover
{
  color: #fff;
  text-decoration: none;
}

.links-tag
{
  margin: 1.5em 0em 1.5em; 
}

.links-tab
{
 padding: 10px 22px 13px;
 background: #fff;
 margin: 0em 1em;
 border: 1px solid #a24097;
 border-radius: 3px;
}

.links-tab a
{
  color: #a24097;
}

.links-tab a:hover
{
  color: #a24097;
  text-decoration: none;
}

.links-tab.active
{
 padding: 10px 22px 13px;
 background: #a24097;
 margin: 0em 1em;
  border-radius: 3px;
}

.links-tab.active a
{
  color: #fff;
}

.links-tab.active a:hover
{
  color: #fff;
  text-decoration: none;
}

.idn-list span
{
  display: inline-block;
}

.idn-input
{
  margin: 0em 1em;
  padding:5px 0px;
}

#identify-namepath
{
  margin: 1.8em 0em 1em;
}

.save-btn
{
  margin: 1em 0em;
}


#tab .nav
{
      display: block;
}

#tab
{
  margin: 0em;
}

.tab-row
{
  margin: 3em 0;
}

.or
{
  margin-top: 0.5em;
  font-size: 16px;
}


.back-btn
{
  margin: 2em 0;
  padding: .375rem 2rem;
}

.back-btn .btn-secondary
{
  margin: 0 1em;
}

.age-para
{
  margin-bottom: 12px;
}


#tips
{
  /*top: 74px;
  right: 0px;
  background-color: #a2a2a2;*/
  color: #000;
  padding: 10px;
  font-size: 12px;
}

#show-more
{
  margin: 1em 0;
}

.error-message
{
 font-size: 16px;
  margin: 5px 0px; 
  color: #c12929;
}

#error-message, #success-err-msg
{
 font-size: 16px;
  margin: 5px 0px; 
  color: #c12929;
  margin: 1em 0em;
}

#success-message
{
 font-size: 16px;
  margin: 5px 0px; 
  color: #57b328;
  margin: 1em 0em;
}

.goback
{
  margin: 2em 0em;
}

#success-message-1, #success-message-2, #success-msg
{
 font-size: 16px;
  margin: 5px 0px; 
  color: #97d634;
  margin: 1em 0em;
}

#error-message-update p
{
  font-size: 16px;
  color: #c12929;
}

#years,#bmiselect, #regionselect
{
  text-align-last: center;
    text-align: center;
    text-transform: uppercase;
}

.upload-loader,
.upload-loader:after {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.upload-loader {
    display: none;
    position: relative;
    font-size: 5px;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(121, 16, 79, 0.99);
    border-right: 1.1em solid rgba(121, 16, 79, 0.9);
    border-bottom: 1.1em solid rgba(121, 16, 79, 0.9);
    border-left: 1.1em solid #fff;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
    z-index: 100000;
    left: 48.5%;
    margin: 1em 0em;
}

.loader {
    display: none;
}
.loading-image
{
   text-align: center;
   text-align-last: center;
    display: inline-flex;
}

.display-img
{
  display: inline-block;
    position: relative;
    max-height: 250px;
    max-width: 100%;
    margin-top: 1em;
}

.display-img-url
{
    display: inline-block;
    position: relative;
    max-height: 250px;
    max-width: 100%;
    margin-top: 1em;
}


.fileContainer {
    overflow: hidden;
    position: relative;
    
}

.fileContainer [type=file] {
    cursor: inherit;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}



.fileContainer 
{
    padding: 0.59em 0.943em;
      background: #6c757d;
      border: 1px solid #6c757d;
      color:#fff;
      font-size: 16px;
       margin-top: 8px;
}

.fileContainer [type=file] {
    cursor: pointer;
}

#ethnicSelect
{
  text-align-last: center;
  text-align: center;
  text-transform: uppercase;
}


.face-rectangle {
            position: absolute;
            border: solid 3px;
            z-index: 99;
        }

        .content .label{
            display: inline-block !important;
            margin-right: 5px;

        }

        .face-rectangle .face-info {
            /*visibility: hidden;*/
            width: 100%;
            background-color:rgba(56, 54, 54, 0.71);
            color: #fff;
            text-align: center;
            padding: 0px;
            position: absolute;
            z-index: 100;
            top: -35px;
            right: 0;
            font-size: 12px;
             height: 30px;
        }

        .face-rectangle .face-info th {
            text-align: left;
            font-weight: 600;
             padding: 0px 5px;

        }

          .face-rectangle .face-info td {
            padding: 0px 5px;
          }

        .face-rectangle .face-info td {
            text-align: right;
        }

        .face-rectangle .face-info:after {
           /* content: "";
            position: absolute;
            top: 50%;
            left: 100%;
            margin-top: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: transparent transparent transparent gray;*/
        }

        .face-rectangle:hover {
            z-index: 100;
        }

        .face-rectangle:hover .face-info {
            visibility: visible;
        }

        .face-rectangle:active .face-info {
            visibility: visible;
        }

        .face-rectangle-m {
            border:2px solid rgba(251, 251, 251, 0.71);
           -moz-box-shadow:     0 0 10px #f3f3f3;
           -webkit-box-shadow:  0 0 10px #f3f3f3;
            box-shadow:         0 0 10px #f3f3f3;
            border-radius: 5px;
        }

        .face-rectangle-f {
            border:2px solid rgba(251, 251, 251, 0.71);
           -moz-box-shadow:     0 0 6px #f3f3f3;
           -webkit-box-shadow:  0 0 6px #f3f3f3;
            box-shadow:         0 0 6px #f3f3f3;
            border-radius: 5px;
        }

        .face-rectangle-emo {
            border-color: #00abec;
        }

@media (max-width:1024px) 
 {
.header, .inner-header 
{
    padding: 35px 0px 64px;
  }

  .edit-tab 
  {
    float: right;
    margin: 1.2em 3em 0em;
    color: #fff;
  }

  .links-tab {
    margin: 1em 1em !important;
    display: block;
}

 }


@media (max-width:767px) 
 {

 #tab .col 
 {
-webkit-flex-basis: auto;
flex-basis: auto;
  }

  #responsetab .col 
 {
-webkit-flex-basis: auto;
flex-basis: auto;
  }

  .refresh-btn .col 
 {
-webkit-flex-basis: auto;
flex-basis: auto;
  }

  .tab-row
{
  margin: 1em 0 0;
}

.loader 
{
  left: 44% !important;
}

 .upload-loader
{
  left: 45% !important;
}

.form-control
{
  width: auto !important;
}

.links-tab
{
      margin: 1em 1em !important;
      display: block;
}

.links-tab.active
{
      margin: 1em 1em !important;
      display: block;
}

.try-tab 
{
    padding: 10px 10px 13px !important;
  }

  #errorresponsetab .row
  {
    margin-right: 15px !important;
    margin-left: 15px !important;
  }

   #responsetab .row
  {
    margin-right: 15px !important;
    margin-left: 15px !important;
  }

.header, .inner-header 
{
    padding: 35px 0px 64px;
  }

  .edit-tab 
  {
    float: right;
    margin: 1.2em 3em 0em;
    color: #fff;
  }

}


@media (max-width:411px) 
 {
.header, .inner-header
 {
    padding: 35px 0px 120px;
}
.edit-tab-list
{
    margin: 0.2em 0.5em;
    display: inline-block;
}

 }





@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
